<div class="navbar-fixed-bottom navbar navbar-default">
<footer>
	<div class="container">
		<div class="" style="margin-left: 30px;">Itzmanishanand &copy; 2016</div>
		<div class="col-lg-9">
	    	<span class="col-lg-2">
	    		<%= link_to "<span class='fa fa-github'></span>GitHub".html_safe, "https://github.com/manish4uanand", {target: "_blank", :title => "manish4uanand" } %>	
	    	</span>
	    	<span class="col-lg-2">
	    		<%= link_to "<span class='fa fa-linkedin'></span>Linkedin".html_safe, "https://in.linkedin.com/in/manish-anand-49b16745", {target: "_blank", :title => "manish-anand-49b16745" } %>
	    	</span>
	    	<span class="col-lg-2">
	    		<%= link_to "<span class='fa fa-twitter'></span>Twitter".html_safe, "https://twitter.com/iammanisHananD", {target: "_blank", :title => "@iammanisHananD" } %>    		
	    	</span>
	    	<span class="col-lg-2">
	    		<%= link_to "<span class='fa fa-facebook'></span>Facebook".html_safe, "https://www.facebook.com/manish4uanand", {target: "_blank", :title => "manish4uanand" } %>    		
	    	</span>
	    	<span class="col-lg-2">
	    		<%= link_to "<span class='fa fa-instagram'></span>Instagram".html_safe, "https://www.instagram.com/itzmanishanand/", {target: "_blank", :title => "itzmanishanand" } %>    		
	    	</span>
	    	<span class="col-lg-2">
	    		<%= link_to "<span class='fa fa-flickr'></span>Flickr".html_safe, "https://www.flickr.com/people/131238503@N04/", {target: "_blank", :title => "manish4uanand" } %>    		
	    	</span>

		</div>
   	</div>
</footer>
</div>