<div class="col-lg-3">
  <div class="well sidebar-nav">
    <div><i>Total Experience: <br/>04 Year(s) 10 Month(s)</i></div>
    <h3>Projects Details</h3>
    <ol class="nav nav-list">
      <li class="nav-header">Faasos Food Services Pvt. Ltd.</li>
      <li><%= link_to "IRIS", homes_faasos_iris_path, remote: true  %></li>
      <li><%= link_to "CRM", homes_faasos_crm_path, remote: true  %></li>
      <li><%= link_to "Faasos Platform", homes_faasos_platform_path, remote: true  %></li>
    </ol>
    
    <ol class="nav nav-list">
      <li class="nav-header">smartData Enterprises (I) Ltd.</li>
      <li><%= link_to "mverso", homes_smartdata_mverso_path, remote: true  %></li>
    </ol>
    
    <ol class="nav nav-list">
      <li class="nav-header">Bitla Software Pvt. Ltd.</li>
      <li><%= link_to "Hotel Simply", homes_bitla_hotel_simply_path, remote: true  %></li>
      <li><%= link_to "Ticket Simply", homes_bitla_ticket_simply_path, remote: true  %></li>
      <li><%= link_to "YSG Properties", homes_bitla_ysg_properties_path, remote: true  %></li>
    </ol>

  </div><!--/.well -->
</div><!--/span-->