<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Itzmanishanand" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Itzmanishanand" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="well"  id="main_container">
            <%= yield %>            
          </div>
          <%#= bootstrap_flash %>
        </div>        
        <%= render 'layouts/sidebar' %>
      </div><!--/row-->
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
